.pink{
  width: 100%;
  background: $rosino;
  text-align: center;

  .container{
    margin: 0 auto;
    padding: 100px;

    h2{
      max-width: 628px;
      margin: 0 auto;
    }

    p{
      font-size: 18px;
    }

    .row{
      max-width: 860px;
      align-items: baseline;
      margin: 0 auto;
      justify-content: space-around;

      .col{
        width: calc(100% / 3.5);
        padding: 10px;
        margin-bottom: 70px;

        img{
          max-width: 140px;
          max-height: 105px;
          margin: 20px auto;
        }
      }// /col
    }// /row

    img{
      max-width: 280px;
    }

  } // /container

  hr{
    max-width: 1150px;
    height: 0px;
    margin: 0 auto;
    border-width: 0;
    border-top: 1px solid #bdb5af;
  }

  h2{
    padding: 50px 0;
  }
}// /pink
